<div class="card border-0 shadow rounded-3 my-5" style="width: 70%">
  <div class="card-body">
    <h1 class="title">{{ status_code }}</h1>
    <h4 class="card-subtitle mb-2 text-muted">{{ status_description }}</h4>
    <button type="button" class="btn btn-info" routerLink="">
      Back to Portfolio
    </button>
  </div>
</div>

<footer id="footer">
  <div class="copyright">
    &copy; <strong><span>Lucia Belen Croci</span></strong>
    <p>Portfolio Web - Trabajo final Argentina Programa</p>
  </div>
</footer>
