#header{
    width: 100%;
    height: 50px;
    background-color: #61aaaf;
    position: fixed;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.logoArgProg img{
    width: 150px;
    display: inline;
    float: left;
    margin-top: -1.3%;
}
#title{
    color: #264749;
    display: inline;
    float: left;
    margin-top: 15px;
    font-weight: bold;
}
.btn, .btn-outline-primary{
    display: inline;
    float: right;
    color: #264749;
    border-color: #264749;
    margin-top: 5px;

}

@media (max-width: 800px), (max-width: 1200px) {
    .logoArgProg img{
        width: 100px;
    }
    #title{
        margin-top: 15px;
        font-size: 13px;
    }
}