<div class="container">
    <div [style]="{'visibility': invalidEdit}" class="alert alert-danger" role="alert">
      This Experience could not be editted!
    </div>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h3 class="card-title text-center">
              Edit Experience '{{ experienceUpdate?.title }}'
            </h3>
  
            <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
              <div class="form-group">
                <label for="logo_urlForm"></label>
                <input formControlName="logo_url" type="file" class="form-control-file" id="logo_url" />
              </div>
  
              <div class="form-group">
                <label for="titleForm">Title</label>
                <input formControlName="title" id="title" type="title" class="form-control"  />              
                <div *ngIf="title!.touched && title!.invalid" class="alert alert-danger">title is required</div>
              </div>
  
              <div class="form-group">
                <label for="start_periodForm">Start period</label>
                <input formControlName="start_period"
                type="date"
                  class="form-control"
                  id="start_period"
                />
                <div *ngIf="start_period!.touched && start_period!.invalid" class="alert alert-danger">start_period is required</div>
              </div>
              <div class="form-group">
                <label for="start_periodForm">Finish period</label>
                <input formControlName="finish_period"
                type="date" 
                  class="form-control"
                  id="finish_period"
                />
                <div *ngIf="finish_period!.touched && finish_period!.invalid" class="alert alert-danger">finish_period is required</div>
              </div>
              <div class="form-group">
                <label for="siteForm">Site</label>
                <input formControlName="site" id="site" type="text" class="form-control" />
                <div *ngIf="site!.touched && site!.invalid" class="alert alert-danger">site is required</div>
              </div>
  
              <div class="form-group">
                <label for="emailForm">Description</label>
                <textarea
                formControlName="description" id="description"
                  fid="emailForm"
                  type="description"
                  class="form-control"
                  rows="3"
                ></textarea>
              </div>
              <div class="d-grid mb-2">
              <button type="submit" class="btn btn-info btn-login text-uppercase fw-bold" >
                Submit
              </button>
            </div>
              <div class="d-grid mb-2">
                <button class="btn btn-back btn-login text-uppercase fw-bold" type="submit" routerLink="">
                 Back to Portfolio
                </button>
              </div>
              <mat-progress-bar [style]="{'visibility': IsProcessing}" mode="indeterminate"></mat-progress-bar>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="copyright">
      &copy; <strong><span>Lucia Belen Croci</span></strong>
      <p>Portfolio Web - Trabajo final Argentina Programa</p>
    </div>
  </footer>
  