<div id="intro" class="card">
  <img
    class="card-img-top"
    [src]="author.background_img"
    alt="Card image cap"
  />
  <div class="card-body little-profile text-center">
    <div class="pro-img">
      <img [src]="author.profile_img" alt="user" />
    </div>

    <h3 class="m-b-0">{{ author.complete_name }}</h3>
    <p>{{ author.profession }}</p>
    <a
      class="btn btn-info"
      [href]="author.cv_doc"
      target="_blank"
      data-aos="zoom-in"
      data-aos-anchor="data-aos-anchor"
      >View CV</a
    >
  </div>
  <div class="buttons" *ngIf="Authervice.isLoggedIn()">
    <app-edit-btn [routerLink]="'editauthor/' + user_name"></app-edit-btn>
  </div>
</div>
