<div class="card" style="width: 18rem">
  <div class="buttons"  *ngIf="service.isLoggedIn()">
    <app-delete-btn (click)="deleteProject()"> </app-delete-btn>
    <app-edit-btn [routerLink]="'editproject/' + projectId"></app-edit-btn>
  </div>
  <img [src]="projectImage" class="card-img-top" alt="project image" />
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ date }}</h6>
    <p class="card-text">
      {{ description }}
    </p>
    <a [href]="linkGithub" class="btn"><i class="fab fa-github"></i> Github</a>
  </div>
</div>
 