<app-section class="project" title="Projects" description="Details of projects.">
  <div id="project">
    <ng-container
      *ngFor="
        let project of projectsList
          | paginate
            : {
                id: 'projectPaginator',
                itemsPerPage: 4,
                currentPage: currentPageProject
              }
      "
    >
      <app-projects-card
      (newItemEvent)="deleteProject($event)"
        [title]="project.title"
        [description]="project.description"
        [date]="project.date"
        [project_img]="project.project_img"
        [link_github]="project.link_github"
        [projectId]="project.project_id"
        [deletehash]="project.img_deletehash"
      ></app-projects-card>
    </ng-container>
    <p *ngIf="projectsList.length === 0">
      <b>No projects added yet.</b>
    </p>
    <pagination-controls
      id="projectPaginator"
      (pageChange)="currentPageProject = $event"
      previousLabel="Previous"
      nextLabel="Next"
    ></pagination-controls>
  </div>
  <div class="buttons"  *ngIf="Authervice.isLoggedIn()">
    <app-add-btn routerLink="newproject"></app-add-btn>
  </div>
</app-section>
<div class="foot"></div>
