<app-section class="project" title="Projects" description="Aquí se muestran las projects">
  <div id="project">
    <ng-container
      *ngFor="
        let project of projectsList
          | paginate
            : {
                id: 'projectPaginator',
                itemsPerPage: 4,
                currentPage: currentPageProject
              }
      "
    >
      <app-projects-card
      (newItemEvent)="deleteProject($event)"
        [title]="project.title"
        [description]="project.description"
        [date]="project.date"
        [projectImage]="project.projectImage"
        [linkGithub]="project.linkGithub"
        [projectId]="project.project_id"
      ></app-projects-card>
    </ng-container>
    <pagination-controls
      id="projectPaginator"
      (pageChange)="currentPageProject = $event"
      previousLabel="Previous"
      nextLabel="Next"
    ></pagination-controls>
  </div>
  <div class="buttons"  *ngIf="Authervice.isLoggedIn()">
    <app-add-btn routerLink="newproject"></app-add-btn>
  </div>
</app-section>
<div class="foot"></div>
