<div class="container">
    <div [style]="{'visibility': invalidAdd}" class="alert alert-danger" role="alert">
      This Experience could not be added!
    </div>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h2 class="card-title text-center">
              Add Experience 
            </h2>
            <app-file-upload [previewUrl]="preview" [fileName]="fileMessage" (imageToUpload)="getImageFile($event)"></app-file-upload>
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
       
      <div class="form-group">
        <label for="titleForm">Title</label>
        <input id="titleForm" formControlName="title" type="text" class="form-control" placeholder="Title" />
        <div *ngIf="title!.touched && title!.invalid" class="alert alert-danger">title is required</div>
        
      </div>
  
      <div class="form-group">
        <label for="start_periodForm">Start period</label>
        <input
        formControlName="start_period"
          type="date"
          class="form-control"
          id="start_periodForm" placeholder="Start period"
        /> <div *ngIf="start_period!.touched && start_period!.invalid" class="alert alert-danger">start_period is required</div>
      </div>
      <div class="form-group">
        <label for="start_periodForm">Finish period</label>
        <input
        formControlName="finish_period"
          type="date"
          class="form-control"
          id="start_periodForm" placeholder="Finish period"
        /> <div *ngIf="finish_period!.touched && finish_period!.invalid" class="alert alert-danger">finish_period is required</div>
      </div>
      <div class="form-group">
        <label for="siteDateForm">Site</label>
        <input id="siteDateForm" type="text" class="form-control" formControlName="site" placeholder="Site" />
        <div *ngIf="site!.touched && site!.invalid" class="alert alert-danger">site is required</div>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
        formControlName="description" id="description"
          id="description"
          type="description"
          class="form-control"
          rows="3"
        ></textarea>
      </div>
    
      <div class="d-grid mb-2">
        <button type="submit"  class="btn btn-info btn-login text-uppercase fw-bold" >
          Add
        </button>
      </div>
        <div class="d-grid mb-2">
          <button class="btn btn-back btn-login text-uppercase fw-bold" type="submit" routerLink="">
           Back to Portfolio
          </button>
        </div>
        <mat-progress-bar [style]="{'visibility': IsProcessing}" mode="indeterminate"></mat-progress-bar>
    </form>
    
  </div>
  </div>
  </div>
  </div>
  </div>
  <footer id="footer">
  <div class="copyright">
  &copy; <strong><span>Lucia Belen Croci</span></strong>
  <p>Portfolio Web - Trabajo final Argentina Programa</p>
  </div>
  </footer>
  