.background-item {
    padding: 0 0 20px 20px;
    margin-top: 1%;
    border-left: 2px solid #1f5297;
    position: relative;
    margin-left: 4%;
    margin-bottom: 2%;
  }
  
  .background-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }
  
  .logo{
    width: 96px;
    margin-left: -1%;
  }
  .content{
    margin-top: -5%;
    margin-left: 110px;
    margin-bottom: 0;
    width: 85%;
  }
  
  @media (max-width: 600px) {
  
    .background-item {
      padding: 0 0 20px 20px;
      margin-top: -2px;
      border-left: 2px solid #1f5297;
      position: relative;
      margin-left: 4%;
      margin-bottom: 8px;
    }
    
    .background-item::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: #fff;
      border: 2px solid #1f5297;
    }
    
    .logo{
      width: 120px;
      margin-left: -10%;
    }
    .content{
      margin-left: 110px;
      margin-top: -25%;
      margin-bottom: 0;
      width: 50%;
    }
    
    
  }