<mat-card class="background-item">
  <div class="buttons" *ngIf="service.isLoggedIn()">
    <app-delete-btn (click)="deleteExperience()"> </app-delete-btn>
    <app-edit-btn
      [routerLink]="'editexperience/' + experienceId"
    ></app-edit-btn>
  </div>
  <img class="logo" [src]="logo_url" alt="logo" />
  <mat-card-title-group>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ site }}</mat-card-subtitle>
    <mat-card-subtitle
      >{{ start_period }} - {{ finish_period }}</mat-card-subtitle
    >
  </mat-card-title-group>
  <mat-card-content class="content">
    <p>{{ description }}</p>
  </mat-card-content>
</mat-card>
