<app-section 
id="education"
  title="Education"
  description="Details on careers, certifications and courses"
>
  <ng-container
    *ngFor="
      let education of educationList
        | paginate 
          : {
              id: 'educationPaginator',
              itemsPerPage: 3,
              currentPage: currentPageEducation
            }
    "
  >
    <app-education-card
      (newItemEvent)="deleteEducation($event)"
      [logo_url]="education.logo_url"
      [title]="education.title"
      [start_period]="education.start_period"
      [finish_period]="education.finish_period"
      [site]="education.site"
      [description]="education.description"
      [educationId]="education.education_id"
      [deletehash]="education.education_img_deletehash"
    ></app-education-card>
  </ng-container>
  <p *ngIf="educationList.length === 0">
    <b>No education added yet.</b>
  </p>
  <pagination-controls
    *ngIf="educationList.length != 0"
    id="educationPaginator"
    (pageChange)="currentPageEducation = $event"
    previousLabel="Previous"
    nextLabel="Next"
  ></pagination-controls>
  <div  *ngIf="AuthService.isLoggedIn()">
  <app-add-btn routerLink="neweducation"></app-add-btn>
  </div> 
</app-section>