<app-section id="skills"
  title="Hard & Soft skills"
  description="List of hard and soft skills aquired through experience."
>
  <ng-container
    *ngFor="
      let skill of skillsList
        | paginate
          : {
              id: 'skillPaginator',
              itemsPerPage: 3,
              currentPage: currentPageSkill
            }
    "
  >
    <app-skills-card
    (newItemEvent)=" deleteSkill($event)"
      [title]="skill.title"
      [description]="skill.description"
      [skill_level]="skill.skill_level"
      [skillId]="skill.skills_id"
    ></app-skills-card>
  </ng-container>
  <p *ngIf="skillsList.length === 0">
    <b>No skill added yet.</b>
  </p>
  <pagination-controls
  *ngIf="skillsList.length != 0"
    id="skillPaginator"
    (pageChange)="currentPageSkill = $event"
    previousLabel="Previous"
    nextLabel="Next"
  ></pagination-controls>
  
  <div class="buttons"  *ngIf="Authervice.isLoggedIn()">
    <app-add-btn routerLink="newskill"></app-add-btn>
  </div>
</app-section>
