<app-section
  id="experience"
  title="Experience"
  description="Detail of tasks and jobs."
>
  <ng-container
    *ngFor="
      let experience of experienceList
        | paginate
          : {
              id: 'experiencePaginator',
              itemsPerPage: 3,
              currentPage: currentPageExperience
            }
    "
  >
    <app-experience-card
    (newItemEvent)="deleteExperience($event)"
      [logo_url]="experience.logo_url"
      [title]="experience.title"
      [start_period]="experience.start_period"
      [finish_period]="experience.finish_period"
      [site]="experience.site"
      [description]="experience.description"
      [experienceId]="experience.experience_id"
      [deletehash]="experience.experience_Img_deletehash"
    ></app-experience-card>
  </ng-container>
  <p *ngIf="experienceList.length === 0">
    <b>No experience added yet.</b>
  </p>
  <pagination-controls
  *ngIf="experienceList.length != 0"
    id="experiencePaginator"
    (pageChange)="currentPageExperience = $event"
    previousLabel="Previous"
    nextLabel="Next"
  ></pagination-controls>
  <div class="buttons"  *ngIf="AuthService.isLoggedIn()">
  <app-add-btn routerLink="newexperience"></app-add-btn>
</div>
</app-section>
